<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail for {{ question }}</title>
</head>
<body>
<div>
   <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for option in options %}
        <p>
            <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}" />
            <label for="option{{ forloop.counter }}">{{ option.option_text }}</label>
        </p>
    {% endfor %}
    <p><input type="submit" value="Vote" /></p>
    </form>
</div>

</body>
</html>